*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
div.head h1{
    color: white;
    border:5px white solid;
    padding: 10px;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
}
header img{
    width: 100%;
    border-bottom: 5px red solid;
}
div.head {
    text-align: center;
    background-color: red;
    padding: 20px;
}
.nav{
background-color: gray;
text-align: center;
}
.nav ul li {
    display: inline-block;
    padding-right: 210px;
    padding-right: 210px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav ul li a {
    color:white;
    text-decoration: none;
}
.content{
    text-align: center;
    margin: 50px;

}
.content h2{
    color: red;
    margin: 50px;
}
.content p{
    font-size: 25px;
    text-align: justify;
    line-height: 50px;
}
.form-container{
    background-color: lightgrey;
    text-align: center;
    padding: 40px;
}
.form-container form label{
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.form-container form input{
    border: 4px red solid;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
}
footer div.head h1{
    border: none;
}