*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
div.head h1{
    color: white;
    border:5px white solid;
    padding: 10px;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
}
header img{
    width: 100%;
    border-bottom: 3px red solid;
}
div.head {
    text-align: center;
    background-color: red;
    padding: 10px;
}
.nav{
background-color: gray;
text-align: center;

}
.nav ul li {
    display: inline-block;
    padding-right: 210px;
    padding-right: 210px;
    padding-top: 20px;
    border-bottom: 8px;
}
.nav ul li a {
    color:white;
    text-decoration: none;
}
.nav ul li a:hover{
    color: red;
}
.content{
    text-align: center;
    margin: 50px;

}
.content h2{
    color: red;
    margin: 50px;
}
.content p{
    font-size: 25px;
    text-align: justify;
    line-height: 50px;
}
.form-container{
    background-color: lightgrey;
    text-align: center;
    padding: 40px;
}
.form-container form label{
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.form-container form input{
    border: 4px red solid;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
}
footer div.head h1{
    border: none;
}
.image-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

   }
   img{
    width: 80vh;
    border-bottom: 10px red solid;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    
   }
   img:hover{
    border-top: 10px red solid;
    border-bottom-style: none;
   }